<!--
  Generated template for the ViewProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar ng-repeat="unreadNotification in unreadNotifications">
        <ion-title></ion-title>
        <span class="notificationIconNumber" *ngIf="unreadNotifications?.length > 0">{{unreadNotifications.length}}</span>
        <ion-icon (click)="goToNotificationsPage()" class="notificationIcon" name="ios-notifications-outline"></ion-icon>
    </ion-navbar>


</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="Refresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card no-padding style="background-color: #1abc9c;" *ngFor="let user of users">
        <ion-item style="background-color: #1abc9c;" class="avatars">
            <ion-avatar>
                <img  src={{user.photoURL}} />
            </ion-avatar>
        </ion-item>
        <h1 class="userProfileName" text-center>{{user.firstName}} {{user.lastName}}</h1>
        <p class="userProfileName" text-center>{{user.aboutMe}}</p>
        <script>amIFollowing()</script>

        <section *ngFor="let follow of follows">
            <button class="followButton" ion-button full outline color="dark" (click)="followUser()" *ngIf="follow.following === false">Follow</button>
            <button class="unfollowButton" ion-button full outline color="danger" (click)="unFollowUser()" *ngIf="follow.following === true">UnFollow</button>
        </section>

    </ion-card>

   


    <ion-card class="whiteBackground" *ngFor="let post of posts">

        <ion-item class="whiteBackground">
            <ion-avatar item-left>
                <img src={{post.photoURL}}/>
            </ion-avatar>
            <h2>{{post.name}}</h2>
            <p>{{post.date}}</p>
        </ion-item>

        <ion-card-content>
            <p>{{post.text}}</p>
            <img class="postImage" src={{post.postPhotoURL}} *ngIf="post.postPhotoURL">

            <button *ngIf="post.haveILiked === true" [ngClass]="post.haveILiked === true ? 'likedPost': ''" (click)="unlikePost(post, post.userId, post.postId)" ion-button icon-only>
                <ion-icon name="heart"></ion-icon>
                <p>{{post.score}}</p>
            </button>

            <button *ngIf="post.haveILiked === false" [ngClass]="post.haveILiked === false ? 'notLikedPost': ''" (click)="likePost(post, post.userId, post.postId)" ion-button icon-only>
                <ion-icon name="heart"></ion-icon>
                <p>{{post.score}}</p>
            </button>

            <ion-badge style="float: right;" (click)="viewPost(post.userId, post.postId)" item-end>View Replies</ion-badge>
        </ion-card-content>
    </ion-card>

    <div *ngIf="posts?.length < 1">
        <hr>
        <p>
            No Posts found :(
        </p>
    </div>

   
</ion-content>

