<ion-header>

  <ion-navbar  ng-repeat="unreadNotification in unreadNotifications">
    <ion-title></ion-title>

      <span class="notificationIconNumber" *ngIf="unreadNotifications?.length > 0">{{unreadNotifications.length}}</span>
    <ion-icon (click)="goToNotificationsPage()" class="notificationIcon" name="ios-notifications-outline"></ion-icon>
  </ion-navbar>

</ion-header>


<ion-content padding-top>

    <ion-refresher (ionRefresh)="Refresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>


    <ion-card margin-top class="whiteBackground" *ngFor="let item of items">


        <ion-item class="whiteBackground">
            <ion-avatar item-left>
                <img src={{item.photoURL}} />  
            </ion-avatar>
            <h2 (click)="viewProfile(item.userId)">{{item.firstName}} {{item.lastName}}</h2>
            <p>{{item.date}}</p>
        </ion-item>



        <ion-card-content>
            <p>{{item.text}}</p>
            <img src={{item.postPhotoURL}} *ngIf="item.postPhotoURL">


            <ion-badge item-end>{{item.score}}</ion-badge>
            <ion-badge style="float: right;" (click)="viewPost(item.userId, item.postId)" item-end>View Replies</ion-badge>

        </ion-card-content>


    </ion-card>

    <div *ngIf="items?.length < 1">
        <hr>
        <p>
            No Posts found :(
        </p>
    </div>

    
    
    <ion-fab style="margin-bottom: 50px;" center bottom>
        <button ion-fab color="primary"><ion-icon name="md-arrow-dropup-circle"></ion-icon></button>
        <ion-fab-list side="top" (click)="showPrompt()">
            <button ion-fab color="background-color"><ion-icon name="ios-add-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left" (click)="postPhoto()">
            <button ion-fab color="background-color"><ion-icon name="ios-camera-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right" (click)="viewMyProfile()">
            <button ion-fab color="background-color"><ion-icon name="ios-person-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="bottom" (click)="goToSearch()">
            <button ion-fab color="background-color"><ion-icon name="ios-search-outline"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>




</ion-content>
