<ion-header>

  <ion-navbar  ng-repeat="unreadNotification in unreadNotifications">
    <ion-title></ion-title>

      <span class="notificationIconNumber" *ngIf="unreadNotifications?.length > 0">{{unreadNotifications.length}}</span>
    <ion-icon (click)="goToNotificationsPage()" class="notificationIcon" name="ios-notifications-outline"></ion-icon>
  </ion-navbar>

</ion-header>


<ion-content padding-top>

    <ion-refresher (ionRefresh)="Refresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown"
                               pullingText="Pull to refresh"
                               refreshingSpinner="circles"
                               refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <button style="margin-top: 50px;" (click)="postVideo()">video</button>

    <ion-card margin-top class="whiteBackground" *ngFor="let item of items">

        <ion-item class="whiteBackground" (click)="viewProfile(item.userId)">
            <ion-avatar item-left>
                <img src={{item.photoURL}} />  
            </ion-avatar>
            <h2>{{item.firstName}} {{item.lastName}}</h2>
            <p>{{item.date}}</p>
        </ion-item>



        <ion-card-content>

            <section (click)="openModal(item.userId, item.postId)">
                <p>{{item.text}}</p>
                <img src={{item.postPhotoURL}} *ngIf="item.postPhotoURL">
            </section>

            <section class="videoContainer" *ngIf="item.videoURL" (click)="startVideo(item.videoURL)">
                <ion-icon class="playIcon" name="ios-play-outline"></ion-icon>
                <img src={{item.thumbURL}} >
                
            </section>
            <button *ngIf="item.haveILiked === true" [ngClass]="item.haveILiked === true ? 'likedPost': ''" (click)="unlikePost(item, item.userId, item.postId)" ion-button icon-only>
                <ion-icon  name="heart"></ion-icon>
                <p>{{item.score}}</p>
            </button>

            <button *ngIf="item.haveILiked === false" [ngClass]="item.haveILiked === false ? 'notLikedPost': ''" (click)="likePost(item, item.userId, item.postId)" ion-button icon-only>
                <ion-icon name="heart"></ion-icon>
                <p>{{item.score}}</p>
            </button>
           
            <button class="commentIcon" (click)="openModal(item.userId, item.postId)" ion-button icon-only>
                <ion-icon class="commentIcon" name="md-text"></ion-icon>
                <p *ngIf="item.commentLength > 0">{{item.commentLength}}</p>
                <p style="color: white;" *ngIf="item.commentLength === 0">0</p>
            </button>
            


           <!--<ion-badge style="float: right;" (click)="viewPost(item.userId, item.postId)" item-end>Replies {{item.commentLength}}</ion-badge>-->

        </ion-card-content>


    </ion-card>

    <div *ngIf="items?.length < 1">
        <hr>
        <p>
            No Posts found :(
        </p>
    </div>

    
    
    <ion-fab style="margin-bottom: 50px;" center bottom>
        <button ion-fab color="primary"><ion-icon name="md-arrow-dropup-circle"></ion-icon></button>
        <ion-fab-list side="top" (click)="showPrompt()">
            <button ion-fab color="background-color"><ion-icon name="ios-add-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left" (click)="postPhoto()">
            <button ion-fab color="background-color"><ion-icon name="ios-camera-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right" (click)="viewMyProfile()">
            <button ion-fab color="background-color"><ion-icon name="ios-person-outline" ></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="bottom" (click)="goToSearch()">
            <button ion-fab color="background-color"><ion-icon name="ios-search-outline"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>




</ion-content>
