// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

.videoContainer {
    text-align: center;
}

.playIcon {
    font-size: 100px;
    position: absolute;
    margin-top: 60%;
    color: white;
    
}

.commentIcon {
    float: right;
    margin: 0.4rem 0.2rem;
    color: grey !important;
    background-color: white !important;
    box-shadow: none !important;
}

.modalCloseButton {
    color: white;
    text-shadow: none;
    box-shadow: none !important;
}

.likedPost {
    color: red !important;
    background-color: white !important;
    box-shadow: none !important;
}

.notLikedPost {
    color: grey !important;
    background-color: white !important;
    box-shadow: none !important;
}

.notificationRead {
    opacity: 0.5;
}


.notificationIcon {
    color: white;
    float: right;
    font-size: 40px;
}

.notificationIconNumber {
    color: red;
    float: right;
}

.whiteBackground {
    background-color: white !important;
}

.card-content-md {
    padding: 13px 0px 13px 0px !important;
    font-size: 1.4rem;
    line-height: 1.5;
}

.avatars img {
    margin: auto;
    width: 200px !important;
    height: 200px !important;
    margin-top: 30px;
    margin-bottom: 20px;
}


.avatars {
    background-color: #1abc9c;
}

.scroll-content {
    margin-top: 20px !important;
}

.userProfileName  {
    color: white!important;
}

.userProfileBio {
    color: white!important;
}

.followButton {
    border: none !important;
}

.unfollowButton {
    border: none !important;
}

.postImage img {
    padding: 0 !important;
}

.userSearch {
    margin-top: 50px;
}

.label-md {
     margin: 0 !important;
}

.item-md.item-block .item-inner  {
    padding: 0 !important;
    border-bottom: 1px solid #dedede;
}




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: ( primary: #1abc9c, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222 );


///this changes the nav bar color
$toolbar-background: #1abc9c;

$background-color: #ecf0f1;


//$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222 );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$card-md-margin-left: 0;
$card-md-margin-right: 0; 




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
