<ion-header>

    <ion-navbar ng-repeat="unreadNotification in unreadNotifications">
        <ion-title></ion-title>
        <span class="notificationIconNumber" *ngIf="unreadNotifications?.length > 0">{{unreadNotifications.length}}</span>
        <ion-icon (click)="goToNotificationsPage()" class="notificationIcon" name="ios-notifications-outline"></ion-icon>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-searchbar class="userSearch" (ionInput)="search($event)"></ion-searchbar>
    <ion-card class="whiteBackground" *ngFor="let user of users">

        <ion-item class="whiteBackground">
            <ion-avatar item-left>
                <img src={{user.photoURL}} />
            </ion-avatar>
            <h2 (click)="viewProfile(user.userId)">{{user?.firstName}} {{user?.lastName}}</h2>
        </ion-item>
    </ion-card>

</ion-content>
